body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 3, 3, 0.73)), to(rgba(3, 3, 3, 0.73)));
  background-image: linear-gradient(180deg, rgba(3, 3, 3, 0.73), rgba(3, 3, 3, 0.73));
  font-family: Bitter, serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.brand {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  padding-top: 163px;
  padding-bottom: 163px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/IMG_1673.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}

.button {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button.nav {
  position: relative;
  margin-right: 24px;
  margin-left: 24px;
  -webkit-transition: text-shadow 500ms ease, color 700ms ease;
  transition: text-shadow 500ms ease, color 700ms ease;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #b47c35;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button.nav:hover {
  color: #ff7a00;
  text-shadow: 0 0 22px #bfeead;
}

.home-hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-hero-buttons {
  margin-right: 18px;
  margin-left: 0px;
}

.navigation-button {
  margin-right: 9px;
  margin-left: 9px;
  padding-right: 47px;
  padding-left: 47px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.55);
  background-color: #06133d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0.55)), to(rgba(8, 8, 8, 0.55)));
  background-image: linear-gradient(180deg, rgba(8, 8, 8, 0.55), rgba(8, 8, 8, 0.55));
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: border 500ms ease, opacity 500ms ease, text-shadow 500ms ease, background-color 500ms ease;
  transition: border 500ms ease, opacity 500ms ease, text-shadow 500ms ease, background-color 500ms ease;
  color: #d3d3d3;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
}

.navigation-button:hover {
  border-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030101), to(#030101));
  background-image: linear-gradient(180deg, #030101, #030101);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: #fff;
  text-shadow: 0 0 17px #fff;
}

.navigation-button.w--current {
  color: #769ee6;
}

.navigation-button.footer {
  border-style: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06133d), to(#06133d));
  background-image: linear-gradient(180deg, #06133d, #06133d);
}

.navigation-button.header {
  border-style: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06133d), to(#06133d));
  background-image: linear-gradient(180deg, #06133d, #06133d);
}

.navigation-button.header.w--current {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06133d), to(#06133d));
  background-image: linear-gradient(180deg, #06133d, #06133d);
}

.navigation-button.form-submit {
  width: 90%;
  margin: 30px 0px 25px;
  padding: 13px;
  border-radius: 5px;
  background-color: #356bd1;
  color: #ebe7e7;
  text-align: center;
}

.navigation-button.top {
  border-style: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06133d), to(#06133d));
  background-image: linear-gradient(180deg, #06133d, #06133d);
}

.big-heading {
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
}

.text-span {
  font-size: 37px;
  text-align: center;
}

.text-span-2 {
  color: #d3c7c7;
  text-align: center;
}

.navbar {
  background-color: #000;
}

.container {
  min-width: 100%;
  border-bottom: 1px solid #ff7a00;
}

.image {
  border-radius: 50px;
  background-color: #6e6e55;
}

.brand-2 {
  border-color: #a3a3a3;
  border-radius: 15px;
  background-image: url('../images/logo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.image-2 {
  border-radius: 30px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png'), url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, 125px;
}

.image-3 {
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-menu {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ff7a00;
  background-color: #06133d;
}

.image-4 {
  border-radius: 80px;
  opacity: 0.84;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.div-block-2 {
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 14px;
}

.navbar-2 {
  width: 100%;
}

.brand-3 {
  display: block;
  width: 70px;
  height: 65px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 50px;
  background-image: url('../images/logo.jpg');
  background-position: 50% 50%;
  background-size: 70px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  font-size: 14px;
}

.container-2 {
  min-width: 100%;
}

.navbar-3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06133d), to(#06133d));
  background-image: linear-gradient(180deg, #06133d, #06133d);
  color: #fff;
}

.nav-menu-2 {
  display: inline-block;
}

.container-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 400px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 15px;
  background-color: #fcf3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 4px 4px 35px 0 #000;
}

.heading {
  color: #474747;
  text-align: center;
}

.section-2 {
  display: block;
  padding-top: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 3, 3, 0.72)), to(rgba(3, 3, 3, 0.72)));
  background-image: linear-gradient(180deg, rgba(3, 3, 3, 0.72), rgba(3, 3, 3, 0.72));
  opacity: 1;
}

.paragraph {
  color: #020202;
  text-align: center;
}

.textarea {
  min-height: 120px;
  margin-top: 25px;
  color: #000;
}

.text-field {
  margin-top: 25px;
  color: #000;
}

.text-field-2 {
  margin-top: 25px;
  color: #000;
}

.text-field-2::-webkit-input-placeholder {
  color: #382b2b;
}

.text-field-2:-ms-input-placeholder {
  color: #382b2b;
}

.text-field-2::-ms-input-placeholder {
  color: #382b2b;
}

.text-field-2::placeholder {
  color: #382b2b;
}

.form-field::-webkit-input-placeholder {
  color: #443779;
}

.form-field:-ms-input-placeholder {
  color: #443779;
}

.form-field::-ms-input-placeholder {
  color: #443779;
}

.form-field::placeholder {
  color: #443779;
}

.form {
  text-align: center;
}

.image-5 {
  display: block;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.div-block-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/IMG_1698.jpg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.form-block {
  margin-right: 15px;
  margin-left: 15px;
}

.success-message {
  margin-top: 0px;
  margin-bottom: -15px;
  background-color: #fff;
  color: #06133d;
  font-size: 20px;
  line-height: 20px;
}

.error-message {
  background-color: #e0470c;
  color: #fff;
}

.text-block {
  background-color: transparent;
}

.image-6 {
  -webkit-filter: brightness(86%);
  filter: brightness(86%);
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 10px;
}

.body-2 {
  margin-top: 0px;
}

@media (max-width: 991px) {
  .section {
    min-height: 550px;
  }
  .button.nav {
    width: 100%;
    padding-right: 55px;
    padding-left: 55px;
  }
  .home-hero-wrapper {
    position: relative;
    top: 100px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .navigation-button.header {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 45px;
    padding-left: 45px;
    background-image: none;
  }
  .navigation-button.form-submit {
    margin-top: 30px;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.49);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51));
    color: #fff;
  }
  .div-block {
    height: 100%;
  }
  .image-4 {
    display: none;
  }
  .menu-button {
    display: block;
    background-color: #000;
    -webkit-transition: text-shadow 500ms ease, box-shadow 500ms ease;
    transition: text-shadow 500ms ease, box-shadow 500ms ease;
    color: #fff;
    text-shadow: 0 0 20px #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
    background-image: none;
    -webkit-transition-property: none;
    transition-property: none;
    text-shadow: none;
  }
  .menu-button.open {
    color: #b93a3a;
  }
  .icon {
    color: #fff;
    text-shadow: none;
  }
  .icon:active {
    color: #fff;
  }
  .icon-2 {
    color: #fff;
  }
  .icon-2:hover {
    color: #ff7a00;
  }
  .icon-2:focus {
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 28px #fff;
  }
  .brand-3 {
    float: left;
    opacity: 0.9;
  }
  .nav-menu-2 {
    margin-right: 1px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .menu-button-2 {
    background-color: #06133d;
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-2 {
    padding-top: 0px;
  }
  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    padding-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .section {
    min-height: 551px;
    padding-top: 84px;
    padding-bottom: 42px;
  }
  .home-hero-wrapper {
    top: 15px;
  }
  .home-hero-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navigation-button {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
  }
  .nav-menu {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51));
    box-shadow: 0 1px 8px 1px #000;
  }
  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: -12px;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .section {
    min-height: 300px;
    padding-top: 12px;
  }
  .home-hero-wrapper {
    margin-top: -20px;
  }
  .navigation-button.form-submit {
    margin-top: 10px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .text-span {
    color: #06133d;
  }
  .text-span-2 {
    color: #fff;
  }
  .nav-menu {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.79)), to(rgba(0, 0, 0, 0.79)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79));
  }
  .div-block {
    margin-top: 0px;
  }
  .div-block-2 {
    margin-top: 0px;
  }
  .nav-menu-2 {
    background-color: rgba(0, 0, 0, 0.86);
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 460px;
    margin-top: auto;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0px;
    background-image: url('../images/IMG_1675.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  .heading {
    margin-top: 0px;
    font-size: 28px;
  }
  .section-2 {
    height: 353px;
    padding-top: 0px;
  }
  .paragraph {
    font-size: 12px;
  }
  .form-field::-webkit-input-placeholder {
    font-size: 12px;
  }
  .form-field:-ms-input-placeholder {
    font-size: 12px;
  }
  .form-field::-ms-input-placeholder {
    font-size: 12px;
  }
  .form-field::placeholder {
    font-size: 12px;
  }
  .div-block-3 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .success-message {
    margin-top: -150px;
    background-color: transparent;
    color: #fff;
  }
  .error-message {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#w-node-4cbd81415c8c-81415c8a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-4cbd81415c8e-81415c8a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}